body {
    margin: 0;
    padding: 0;
    background-color: #1d2634;
}

.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    /* chia làm 4 cột với ba cột sau bằng nhau */

    grid-template-rows: 0.2fr 3fr;
    /* chia làm 2 hàng với hàng trên bằng 0.2 phần, hàng dưới 3 phần */

    grid-template-areas: 
        "sidebar header header header"
        "sidebar main main main";
    
    height: 100vh;
}

/* ------------------- HEADER ------------------- */
.header {
    grid-area: header;
    height: 50px;
    display: flex;
    background-color: rgb(153, 0, 219);
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 14px 7px -3px rgba(0, 0, 0, 0.85);
}

.menu-icon {
    display: none;  /* Chế độ hiển thị: Không hiển thị */
}

.header-right {
    text-justify: end;
}

/* ------------------- SIDEBAR ------------------- */
#sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: rgba(85, 0, 122, 0.85);
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 30px;
}

.sidebar-title > span {
    display: none;
} /* Dấu > ở trên để tác dụng các span nằm ngay phía trong còn trong nữa thì không tác dụng. */

.sidebar-brand {
    margin-top: 15px;
    font-size: 25px;
    font-weight: 800;
    color: black;
}

.sidebar-brand .material-icons-outlined {
    font-size: 60px;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #ffffffb1;
}

a:active {
    opacity: 0.5;
}

.sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none; /* làm mất dấu đầu dòng của list */
}

.sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 20px;
}

.sidebar-list-item:hover {
    background-color: rgba(85, 0, 122, 0.85);
    border-radius: 40px;
    font-weight: 550;
    color: #ffffffb1;
    cursor: pointer;
}

.sidebar-list-item:active {
    opacity: 0.5;
}

.sidebar-responsive {
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
}

/* ------------------- MAIN ------------------- */
.main-container {
    grid-area: main;
    background-color: rgba(153, 0, 219, 0.6);
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 255, 0.95);
}